.myContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.myInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  height: 30px;
  width: 300px;
}

.item {
  margin: 10px;
}
